<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}" />
</head>
<body>
    <div class="layui-form-item">
        <label class="layui-form-label">当前积分：</label>
        <div class="layui-input-block">
            <input id="nowScore" type="text" name="title" required  lay-verify="required" autocomplete="off" class="layui-input" disabled>
        </div>
    </div>
<table class="layui-hide" id="MyScore"></table>
    <script type="text/javascript" th:src="@{/js/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
    <script th:src="/js/MyScore.js" charset="UTF-8"></script>
</body>
</html>
